



body {
    width:640px;
}

/* navigation
    */

nav {
background-color: gray;
padding: 5px 0px 5px 0px;
}


    nav div ul li {
        background-color: gray;
    }

nav div ul li.menuitem {
    clear: both;
}
    

div.sidenav {
    display:none;
    width:200px;
    float: left;
    background-color:lightgray;

}

div.content {
    width: 618px;
}
/* Rest of the Stuff*/

h1, h2 {
	text-align:center;
}

article {
	width: 600px;
	}