body {
    width:768px;
}

/* navigation
    */

nav {
background-color: gray;
padding: 5px 0px 5px 0px;
}

    nav div ul li {
        background-color: gray;
        padding-left: 18px;
        padding-right: 18px;
    }

nav div ul li.menuitem {
    clear: both;
}
    

div.sidenav {
    width:200px;
    float: left;
    background-color:lightgray;

}

div.content {
    width: 546px;

}
/* Rest of the Stuff*/

h1, h2 {
	text-align:center;
}

article {
	width: 600px;
	}