html{
font-size: 100%;
} 

body{
font-size: 1em;
font-family: georgia, serif;
color: #444;
background: white;
padding: 0;
margin: 0 auto;
}

h1{
font-size: 1.125em;
line-height: 1em;
margin: 1em;
font-weight: 300;
}


header h1 {
    text-align: center;

}

/* navigation
    */

nav {
background-color: gray;
padding: 10px 0px 10px 0px;
}


    nav div ul li {
        background-color: gray;
        padding:5px 5px 5px 5px;

    }
  
    nav div ul li a:visited, nav div ul li a:link {
        color: white;
    }

    nav div ul li a {
        background-color: gray;
    }

nav div ul li.menuitem {
    clear: both;
}
    
/*
nav div ul li:nth-child(1){
    display: none
}*/



div.sidenav {
    float: left;
    background-color:lightgray;
}

div.content {
    height:auto;
    float: right;
    background-color:white;
    min-height:350px;
    border: 1px solid black;
}
/* Rest of the Stuff*/

main {
    padding-left: 10px;
    padding-right: 10px;
}

hr      
	{
	border: 0;
	border-top: 8px solid #C0C0C0;
	padding: 0;
        }

form {
	border-style:outset;
	border-color:green;
	padding: 10px;
	}

h1, h2 {
	text-align:center;
}

main img.profile{
	float:Right;
    width:200px;
	height:200px;
}
article {
	}