body
    {
    width:1120px;
    margin-left:auto;
    margin-right:auto;
    }

header 
    {
    width:1120px;
    background-color: blue;
    text-align: center;
    color: white;
    height: 30px;
    }

Nav 
    {
    width:1120px;
    background-color: green;
    text-align:center;
    height:30px;
    }
    nav li 
        {
        display: inline;
        margin:30px;
        }
        nav li a:link 
            {
            color: white;
            }

article 
    {
    background-color: pink;
    width:720px;
    color:white;
    }
    article section {
        background-color: brown;
        margin:20px 0px 20px;
        height:100px;
        color:white;
    }

aside 
    {
    width: 400px;
    background-color: blue;
    height: 275px;
    color:white
    }

footer 
    {
    width: 1120px;
    background-color: green;
    height:40px;
    text-align:center;
    color:white;
    }

