main {
    padding: 0;
}

header.static 
    {
    width:546px;
    background-color: blue;
    text-align: center;
    color: white;
    height: 30px;
    }

Nav.static
    {
    width:546px;
    background-color: green;
    text-align:center;
    height:30px;
    }
    nav.static li 
        {
        display: inline;
        margin:5px;
        }
        nav li a:link 
            {
            color: white;
            }

article.static
    {
    background-color: pink;
    width:224px;
    color:white;
    }
    article section.static {
        background-color: brown;
        margin:20px 0px 0px;
        height:100px;
        color:white;
    }

aside.static
    {
    width: 322px;
    background-color: blue;
    height: 256px;
    color:white
    }

footer.static 
    {
    width: 546px;
    background-color: green;
    height:40px;
    text-align:center;
    color:white;
    }

